@{
    ViewBag.Title = "Contact";
}

<div class="row space30"> 
 <div class="col-md-4">
     <div>         
     	<h2>Contact Us</h2>
              	<p> It is an online advertising facility for buyers and sellers.</p>
              
              	<h4>Contact the seller/buyer and be setesfied about the product you buy.</h4>
              	<p>Take a picture of your product and post it here with its description and see how quickly it is sold.</p>
    
              	
              	<p>Post your ads and you can sell your products/things very easily.</p>
         <h5>Contact Us For any Further Query:</h5>
         <h2>bcsf11m106@pucit.edu.pk</h2>
         </div> 
         
        </div>  

</div>