@{
    ViewBag.Title = "";
}

<div class="row space30"> <!-- row 1 begins -->
      
            <div class="col-md-6">
           	  <h2>Post Online Ads For Selling And Buying Products</h2>
                
              	<p>We have launched this website so that the users can easily interact with each others and can post ads of their thing they want to sell and aslo for those users who want to but the thing they need by simply sitting at home.</p>
              	
            </div>
        
            <div class="col-md-6">
              	<h2>Enjoy Posting Free Ads</h2>
                
              	<p>This website is one of its type and provide a facility at just one click to buy anything you need by just sitting at your home. You can also sign up to remain in touch and get information about any new ads about anything you want to buy.</p>
                <p>
<h4>On this website you can:</h4>

Easily post ads with pictures.
Control your selling and buying.
Display your ads on your social networking profile.
Access the site from your mobile phone as well.
View it in your local language</p>
           </div>
            
     	</div> <!-- /row 1 -->